body{
  background:black;
  color:black;
  text-align:center;
  margin: 0 auto;
}
.burger{
    color:black;

}
p{
color:white;
}
#gamechart{
    background:black;
    color:white;
}
#gamelist{
    height:10%;
}